.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 10rem;
  border-left: 1px solid gray;
  background-color: white;
  color: gray;
}
