.offcanvas {
  position: fixed;
  top: 70px;
  box-shadow: 0 1px 3px rgb(204, 204, 204);
}

.backdrop {
  background: none;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.body {
  font-size: 1rem;
}
