.title {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 780px;
  padding-top: 40px;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #039946;
  justify-content: space-between;
}

.title_text {
  width: 15rem;
  font-size: 1.5rem;
  color: #039946;
}
